<h1>Purchases</h1>
<table class="table">
 <tr>
  <td> 
   Purchases
  </td>
 </tr>
{{#products}}
 <tr>
  <td>
   {{supplier_id}}
  </td>
  <td>
   <a href="/Sales/edit/{{id}}">Edit</a>
   </td>
  <td>
   <a href="/Sales/delete/{{id}}">Delete</a>
  </td>
 </tr>
{{/products}}
</table>
