<h1>Categories</h1>

<a href="/categories/add">Add Category</a>
<table class="table">
   <tr>
    <td> 
   Category Name
  </td>
 </tr>
{{#products}}
 <tr>
  <td>
   {{name}}
  </td>
  <td>
   <a href="/categories/edit/{{id}}">Edit</a>
   </td>
  <td>
   <a href="/categories/delete/{{id}}">Delete</a>
  </td>
 </tr>
{{/products}}
</table>
