<!DOCTYPE html>
 <html>
 <head>
 
 </head>
 <body>

	<div>
	 <header><h1>Nelisa Spaza App</h1></header>
	  <nav> 
		<a href="/categories">Categories</a>
		<a href="/products">Products</a>
		<a href="/suppliers">Suppliers</a>
		<a href="/purchases">Purchases</a>
    <a href="/sales">Sales</a> 
	  </nav>	
	</div>

</body>
</html>