<h1>Products</h1>
<table class="table">

 <tr>
   <td> 
    Product Name
   </td>
   <td> 
    Category Name
   </td>

 </tr>
{{#products}}

 <tr>
  <td>
   {{ProductName}}
  </td>
  <td>
   {{CategoryName}}
  </td>

   <a href="/Products/edit/{{id}}">Edit</a>
   </td>
  <td>
   <a href="/Products/delete/{{id}}">Delete</a>
  </td>
 </tr>
{{/products}}
</table>


