<h1>Products</h1>

<a href="/products/add">Add Products</a>
<table class="table">

 <tr>
    <td> 
    Product Name
   </td>
    <td> 
    Category Name
   </td>

 </tr>
    {{#products}}
   <tr>
    <td>
    {{ProductName}}
   </td>
    <td>
    {{CategoryName}}
   </td>
    <td>
     <a href="/products/edit/{{id}}">Edit</a>
   </td>
    <td>
     <a href="/products/delete/{{id}}">Delete</a>
   </td>
 </tr>
{{/products}}

</table>


