
<a href="suppliers/add">Add suppliers</a>
<table class="table">
 <tr>
  <td> 
    Supplier Name
  </td>
 </tr>
{{#products}}
 <tr>
  <td>
   {{name}}
  </td>

  <td>
   <a href="/suppliers/edit/{{name}}">Edit</a>
   </td>
  <td>
   <a href="/suppliers/delete/{{name}}">Delete</a>
  </td>

 </tr>
{{/products}}
</table>
