
<html>
<head>
  <title>Add product</title>
</head>

<body>
   <h1>Add product</h1>

	<form action="/products/add" method="post">
		 <input type="text" name="product" placeholder="Add product"/>	
		 <input type="submit" name="submit" value="Submit"/>
	</form>

</body>
</html>