
<html>
<head>
  <title>Add a product</title>
</head>

<body>
   <h1>Add a product</h1>
 
 	

	<form action="/products/add" method="post">

	<select name="categoryId">
        {{#categories}}
          <option value="{{id}}">{{name}}</option>
        {{/categories}}
 	</select>

		 <input type="text" name="product" placeholder="Add a product"/>	
		 <input type="submit" name="submit" value="Submit"/>
	</form>

</body>
</html>