
<h1>Products</h1>

{{#products}}
  <h2>{{description}}</h2>
  <a href="/products/edit/{{id}}">Add</a>
  <a href="/products/delete/{{id}}">Delete</a>
{{/products}}

{{#empty}}
  <p>List of Products</p>
{{/empty}}

<div id="add-products">
	
	<h1>Add a product</h1>
	<form action="products/add" method="/products">
		Description: <input type="text" name="productName">	
		<input type="submit">
	</form>
</div>
