
<html>
<head>
  <title>Add purchase</title>
</head>

<body>
   <h1>Add purchase</h1>
 
 	

	<form action="/purchases/add" method="post">
	    <input type="number" name="quantity" min="0" max="1000" value="quantity" placeholder="quantity"/>	

	    <select name="product_id" label="choose Product">
          {{#products}}
            <option value="{{id}}" >{{name}}</option>
          {{/products}}

 	   </select>
       
       <select name="supplier_id">
          {{#suppliers}}
          <option value="{{id}}">{{name}}</option>
          {{/suppliers}}

 	   </select>

		<input type="number" name="cost_price" placeholder="cost price"/>	
		<input type="submit" name="submit" value="Submit"/>
	</form>

</body>
</html>