<html>
<head>
  <title>Add sales</title>
</head>

<body>
   <h1>Add sales</h1>

	<form action="/sales/add" method="post">
		<input type="text" name="sale" placeholder="Add sale"/>	
		<input type="submit" name="submit" value="Submit"/>
	</form>

</body>
</html>
