<html>
<head>
  <title>Add sales</title>
</head>

<body>
   <h1>Add sales</h1>

	<form action="/sales/add" method="post">
	<input type="date" name="date" number="date_format" placeholder="date_format"> 

	 <select name="Products_id" label="choose Product">
	 
          {{#products}}
            <option value="{{id}}" >{{name}}</option>
          {{/products}}

 	   </select>

        <input type="number" name="sold_number" placeholder="Sold Number"/>
		<input type="number" name="selling_price" placeholder="selling price"/>	
		<input type="submit" name="submit" value="Submit"/>
	</form>

</body>
</html>
