<html>
<head>
  <title>Edit supplier</title>
</head>

<body>
   <h1>Edit supplier</h1>

	<form action="/categories/edit/{{supplier.id}}" method="post">
		 <input type="text" name="supplier" placeholder="Edit supplier" value="{{name}}"/>	
		 <input type="submit" name="submit" value="Submit"/>
	</form>

</body>
</html>