<html>
<head>
  <title>Add supplier</title>
</head>

<body>
   <h1>Add supplier</h1>
 
 	

	<form action="/suppliers/add" method="post">
		<input type="text" name="supplier" placeholder="Add supplier"/>	
		<input type="submit" name="submit" value="Submit"/>
	</form>

</body>
</html>